#container {
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid black;
    background-color: #ffffff;
}

.main {
    margin: 10px;
}

.nav {
    margin: 10px;
}

.nav > div {
    min-width: 190px;
}

h1 {
    margin-top: 0px;
}

.purpose,
h4 {
    color: #2079c7;
}

div {
    padding: 5px;
    border: 1px solid black;
}

p {
    color: #666666;
}
